.background{
    display: flex;
    align-items: center;
justify-content: center;
flex-direction: column;
  
}
.background img{
    position: absolute;
    background-repeat: no-repeat; 
 
   background-attachment:scroll;
   z-index: -1;
   width: 100%;
   height: 100%;
}
.contain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
   height: 600px;

}
.dropdown{  
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.dropdown label{
    font-size: larger;
    font-weight: bolder;
}
.dropdown select, .btn{
    background-color: rgb(32, 37, 41);
    width: 300px;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 0.5px;
    cursor: pointer;
    border-radius: 20px;  
}
@media (max-width: 330px){
    .dropdown select, .btn{
        width: 80%;
    }
}

