.btn{
    background-color: rgb(32, 37, 41);
    width: 300px;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 0.5px;
    cursor: pointer;
    border-radius: 20px;  
}
@media (max-width: 330px){
     .btn{
        width: 100px;
    }
}